<div class="body-wrap">
  <section class="slice sct-color-2">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="card form-card form-card--style-1">
            <div class="form-header text-center">
              <div class="profile-picture profile-picture--style-2">
                <img src="https://image.flaticon.com/icons/svg/0/93.svg" class="profil-img">
              </div>
            </div>
            <div class="form-body">
              <div class="text-center px-2">
                <h4 class="heading heading-4 strong-400 mb-0"><h2>Ajouter Un Producteur</h2></h4>
              </div>
              
              <%= render partial: 'form', locals: {productor: @productor} %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

