<section class="slice-xl slice--offset-top has-bg-cover bg-size-cover" style="background-image: url(<%= asset_path('about_us/coop5.jpg') %>); background-position: bottom center;">
  <span class="mask mask-dark--style-3"></span>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="py-5">
          <h2 class="heading heading-inverse heading-xl strong-900 text-capitalize line-height-1_2 animated text-center" data-animation-in="fadeInDownBig" data-animation-delay="200">
              Créons La Coop'
          </h2>
          <p class="lead c-white animated mt-3 heading heading-3 strong-900 text-center" data-animation-in="fadeInUpBig" data-animation-delay="200">
            Conditions d'adhésion
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="slice sct-color-1">
  <div class="container">
    <div class="row cols-md-space cols-sm-space cols-xs-space">
      <div class="col-lg-12">
        <div class="card-wrapper">
          <div class="card z-depth-2-top">
            <h4 class="heading heading-1 strong-600 line-height-1_8 text-center">Fonctionnement</h4>
            <hr class="mt-2 mb-1">
            <div class="row">
              <div class="card-body p-3">
                <%= image_tag  "about_us/charte_fonctionnement", class: "img-fluid" %>
              </div>
            </div> 
          </div>

          <div class="card z-depth-2-top">
            <h4 class="heading heading-1 strong-600 line-height-1_8 text-center">Comment adhérer</h4>
            <hr class="mt-2 mb-5">
            <div class="row ">
              <div class="col-md-4">
                 <%= image_tag "foule.jpg", class: "img-fluid" %>
              </div>
              <div class="col-md-8">
                <div class="card-body d-flex flex-column align-items-start">
                  <h5 class="heading heading-5 strong-600">Tarifs de la cotisation annuelle</h5>
                  <p> 3 possibilités en fonction de votre situation :</p>
                  <ul>
                    <li>Tarif standard - 20€</li>
                    <li>Tarif chômeur - 5€</li>
                    <li>Tarif spécial - 1€</li>
                  </ul>
                                 
                  <h5 class="heading heading-5 strong-600">Où adhérer ?</h5>
                  <p>3 possibilité, au choix :</p>  
                  <ul>
                    <li>En ligne : <a href="https://www.helloasso.com/associations/creons-la-coop/adhesions/adhesion-creons-la-coop">Sur HelloAsso</a> (adhésion à 20€ uniquement)</li>
                    <li>Par courrier : remplissez ce <a href="#">formulaire</a>, et envoyez-le avec le règlement à notre adresse administrative (Centre Georges Brassens, 4 rue J.Kennedy - 60100 CREIL)</li>
                    <li><i>Sur place</i>, au magasin : venez nour rencontrer et adhérer directement. Adresse du magasin</li>
                  </ul>
                  
                  <h5 class="heading heading-5 strong-600">Dons</h5>
                  <p>Vous pouvez aussi simplement nous soutenir en nous faisant parvenir vos dons à <a href="https://www.cotizup.com/creonslacoop"> cette adresse</a> </p>
                </div>
              </div>
            </div>
          </div>
 
          <div class="card z-depth-2-top">
            <h4 class="heading heading-1 strong-600 line-height-1_8 text-center">Charte des produits de notre magasin</h4>
            <hr class="mt-2 mb-5">
            <div class="row ">
              <div class="col-md-4">
                  <%= image_tag "hand-coeur.jpg", class: "img-fluid" %>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p>Il s’agit de favoriser les produits issus d’une démarche respectueuse de l’humain et de l’environnement en donnant la priorité à des produits durables issus d’échanges équitables, mais il s’agit aussi de respecter la diversité des membres de l’association ainsi que leurs habitudes culinaires et leur pouvoir d’achat en :</p>
                  <ul>
                    <li>s’adressant en priorité à des producteurs locaux pour favoriser les circuits courts.</li>
                    <li>recherchant à la fois des produits de saison cultivés de manière écologique, de manière raisonnée et de manière conventionnelle. ( 2 ou 3 références qualité/prix)</li>
                    <li>proposant une politique de totale transparence ( Origine, goût, prix, critère qualité santé*)</li>
                    <li>mettant en place une politique de prix juste: un prix le plus accessible possible pour les consommateurs en rémunérant correctement le travail du producteur.</li>
                    <li>proposant 2 à 3 références produits en fonction de la qualité et du prix ( Produits locaux ou non)</li>
                    <li>privilégiant les petites entreprises familiales.</li>
                    <li>luttant contre le gaspillage alimentaire et le sur emballage par la promotion de la vente en vrac.</li>
                    <li>enrichissant et diversifiant les produits au fil du temps et selon les demandes des adhérents.</li>
                    <li>fonctionnant de façon coopérative impliquant chaque participant à notre magasin dans son fonctionnement.</li>
                  </ul>
                  <p>*critère qualité santé : bannir les OGM, les additifs chimiques douteux et dangereux, l’huile de palme et le coprah.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
