<!-- Force turbolinks reload to load the banner properly on navigation -->
<% provide :head_tags do %>
<meta name="turbolinks-visit-control" content="reload">
<% end %>

<section class="swiper-js-container background-image-holder" data-holder-type="fullscreen" data-holder-offset=".navbar">
	<div class="swiper-container" data-swiper-autoplay="true" data-swiper-effect="slide" data-swiper-items="1" data-swiper-space-between="0">
		<div class="swiper-wrapper">

			<!-- Slide -->
			<div class="swiper-slide" data-swiper-autoplay="8000">
        <div class="slice holder-item holder-item-light has-bg-cover bg-size-cover"
             style="background: url(<%= asset_path('home/panier3.jpg') %>) center/cover;">
					<span class="mask mask-dark--style-3"></span>
					<div class="container d-flex align-items-center">
						<div class="col">
							<div class="row text-center">
								<div class="col-12">
									<h2 class="heading heading-xl strong-400 text-uppercase animated" data-animation-in="fadeInDownBig" data-animation-delay="200">
										Manger mieux, à prix juste
									</h2>
									<p class="heading heading-4 mt-4 animated text-light" data-animation-in="fadeInUp" data-animation-delay="1800">
										Un projet collectif de magasin coopératif<br />
									</p>
									<div class="d-flex flex-column align-items-center mt-5">
										<%= link_to "Comment adhérer", about_us_path, class: "btn btn-lg btn-base-1 btn-circle btn-styled mt-3 animated" %>
										<%= link_to "Espace membres", new_member_session_path, class: "text-white mt-3 animated" %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
    <!-- Add Pagination -->
		<!--<div class="swiper-pagination"></div>-->
	</div>
</section>
