<section class="swiper-js-container background-image-holder">
    <div class="swiper-container" data-swiper-autoplay="true" data-swiper-effect="fade" data-swiper-autoheight="true">
        <div class="swiper-wrapper">
                   <!-- Slide -->
            <div class="swiper-slide">
                <div class="holder-item sct-color-2 slice-xl pb-0">
                    <div class="container d-flex align-items-center">
                         <div class="row cols-xs-space cols-sm-space cols-md-space">
                            <div class="col-lg-5 text-center text-lg-left align-self-center">
                            	<%= image_tag "banner-coop.png", class: " banner-coop" %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="slice-lg pb-2 sct-color-1 border-top">
	<div class="container">
		<div class="row cols-xs-space cols-sm-space">
			<div class="col-lg-4">
				<div class="icon-block icon-block--style-2-v1 text-center">
					<div class="block-icon rounded bg-base-1">
						<i class="ion-ios-cog-outline"></i>
					</div>
					<h2 class="heading heading-5 strong-600">Engineered with love</h2>
					<p class="px-2 mt-1">
						Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.
					</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="icon-block icon-block--style-2-v1 text-center">
					<div class="block-icon rounded bg-base-1">
						<i class="ion-ios-pulse"></i>
					</div>
					<h2 class="heading heading-5 strong-600">Never ending updates</h2>
					<p class="px-2 mt-1">
						Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.
					</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="icon-block icon-block--style-2-v1 text-center">
					<div class="block-icon rounded bg-base-1">
						<i class="ion-ios-compose-outline"></i>
					</div>
					<h2 class="heading heading-5 strong-600">Customize in no time</h2>
					<p class="px-2 mt-1">
						Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="">
	<div class="container">
		<div class="delimiter--style-1">
			<div class="delimiter-title-wrapper">
				<div class="delimiter-title">
					<h3 class="heading heading-xs mb-0 text-uppercase strong-600">Why choose use?</h3>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="slice-lg sct-color-1">
	<div class="container">
		<div class="row cols-xs-space cols-sm-space align-items-center">
			<div class="col-md-6 col-12">
				<img src="../../assets/images/prv/other/img-16-1000x900.jpg" class="img-fluid img-center rounded z-depth-2-top">
			</div>

			<div class="col-md-6 col-12">
				<div class="col-wrapper--spaced-x text-center text-lg-left">
					<h3 class="heading heading-2 strong-500">
						Simplify, then add lightness.
					</h3>
					<footer class="blockquote-footer">
						<cite title="Source Title">Colin Chapman</cite>
					</footer>
					<p class="text-lg line-height-1_8 mt-4">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris phasellus porta lacus aenean.
					</p>
					<a href="#" class="btn btn-styled btn-base-4 btn-circle mt-4">Learn more</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="slice-xl bg-base-1">
	<div class="container text-center">
		<div class="row">
			<div class="col-md-12">
				<div class="fluid-paragraph fluid-paragraph-sm">
					<h2 class="heading heading-inverse heading-1 strong-500">
						Build now a fabulous website
					</h2>
					<p class="text-lg line-height-1_8 mt-4">
						You don't need to look anywhere else. Boomerang comes with over 200+ pre-built and ready to use page designs packed with all the
						features you could ever need.
					</p>

					<div class="btn-container mt-5">
						<a href="https://goo.gl/9BbH7R" target="_blank" class="btn btn-styled btn-base-5">Purchase now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="slice-lg sct-color-2 border-top border-bottom">
	<div class="container">
		<div class="section-title section-title--style-1 text-center mb-3">
			<h3 class="section-title-inner">
				Best value for money
			</h3>
		</div>
		<span class="clearfix"></span>

		<div class="fluid-paragraph fluid-paragraph-sm text-center">
			<p class="text-lg line-height-1_8 strong-300">
				Start building fast, beautiful and modern looking websites in no time using our theme.
			</p>
		</div>

		<span class="space-xs-xl"></span>

		<div class="row pricing-plans pricing-plans--style-3">
			<div class="col-lg-4">
				<div class="block block-pricing">
					<div class="plan-title-wrapper no-bg">
						<h2 class="plan-title heading heading-6 text-capitalize strong-500">Single</h2>
						<h3 class="price-tag no-padding"><sup>$</sup>30</h3>
					</div>

					<div class="block-body text-center px-4">
						<p>
							You may use the item in work which you are creating for your own purposes or for your client restricted to a single one time installation that is not meant for reselling.
						</p>
					</div>

					<div class="py-4 border-top text-center">
						<a href="https://goo.gl/9BbH7R" class="btn btn-styled btn-base-1 text-capitalize">Purchase now</a>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="block block-pricing">
					<div class="plan-title-wrapper">
						<h2 class="plan-title heading heading-6 text-capitalize strong-500">Multiple</h2>
						<h3 class="price-tag no-padding"><sup>$</sup>79</h3>
					</div>

					<div class="block-body text-center px-4">
						<p>
							You may use the item in work which you are creating for your own purposes or for your clients and may be extended to multiple installations.
						</p>
					</div>

					<div class="py-4 border-top text-center">
						<a href="https://goo.gl/9BbH7R" class="btn btn-styled btn-base-1 text-capitalize">Purchase now</a>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="block block-pricing">
					<div class="plan-title-wrapper no-bg">
						<h2 class="plan-title heading heading-6 text-capitalize strong-500">Extended</h2>
						<h3 class="price-tag no-padding"><sup>$</sup>599</h3>
					</div>

					<div class="block-body text-center px-4">
						<p>
							This license must be purchased if you intend to license, sublicense, redistribute, or resell the final product only on the following circumstances.
						</p>
					</div>

					<div class="py-4 border-top text-center">
						<a href="https://goo.gl/9BbH7R" class="btn btn-styled btn-base-1 text-capitalize">Purchase now</a>
					</div>
				</div>
			</div>
		</div>

		<div class="pb-5 pt-4">
			<div class="delimiter--style-1">
				<div class="delimiter-title-wrapper">
					<div class="delimiter-title">
						<h3 class="heading heading-xs mb-0 text-uppercase strong-600">Testimonials</h3>
					</div>
				</div>
			</div>
		</div>

		<div class="swiper-js-container mt-4">
			<div class="swiper-container" data-swiper-autoplay="true" data-swiper-items="1" data-swiper-space-between="0">
				<div class="swiper-wrapper">
					<div class="swiper-slide" data-swiper-autoplay="5000">
						<div class="row cols-xs-space testimonial text-center text-sm-left justify-content-center">
							<div class="col-md-2 col-sm-4 col-6">
								<img class="testimonial-image" src="../../assets/images/prv/people/person-1.jpg">
							</div>
							<div class="col-md-7 col-sm-8 col-10">
								<div class="testimonial-content">
									<p class="lead line-height-1_8 testimonial-text">
										“No words needed. This template gets the work done. So many features and great page layouts. As a developer I like a clean code. I can see their passion in every line of code. Great job!”
									</p>
									<h4 class="heading heading-4 strong-600 mt-4 mb-0">Bertram Ozzie</h4>
									<span class="heading-sm strong-300">Web Designer — Webpixels</span>
								</div>
							</div>
						</div>
					</div>

					<div class="swiper-slide" data-swiper-autoplay="5000">
						<div class="row cols-xs-space testimonial text-center text-sm-left justify-content-center">
							<div class="col-md-2 col-sm-4 col-6">
								<img class="testimonial-image" src="../../assets/images/prv/people/person-2.jpg">
							</div>
							<div class="col-md-7 col-sm-8 col-10">
								<div class="testimonial-content">
									<p class="lead line-height-1_8 testimonial-text">
										“One word to describe this template: fresh! It comes with a variaty of features that are well thought and made my job so much easier.”
									</p>
									<h4 class="heading heading-4 strong-600 mt-4 mb-0">Cliff Simon</h4>
									<span class="heading-sm strong-300">Web Designer — Webpixels</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Add Arrows -->
				<div class="swiper-button--hover-only swiper-button-next"></div>
				<div class="swiper-button--hover-only swiper-button-prev"></div>
			</div>
		</div>
	</div>
</section>

<section class="slice sct-color-1">
	<div class="container">
		<div class="section-title section-title--style-1 text-center">
			<h3 class="section-title-inner text-normal">
				<span>Read our blog</span>
			</h3>
		</div>

		<div class="row cols-md-space cols-sm-space cols-xs-space">
			<div class="col-lg-4">
				<div class="block block-image-holder image-animate-wrapper">
					<div class="block-image image-animate--hover">
						<img src="../../assets/images/prv/travel/img-wide-1.jpg" class="img-fluid img-center">
					</div>

					<div class="pt-4">
						<span class="heading heading-xs text-uppercase strong-300">Oct 15, 2018</span>
						<a href="#" class="heading heading-4 d-block strong-500 mt-1">Beware the mountain</a>
						<p class="mt-3">
							When we strive to become better than we are, everything around us becomes better, too.
						</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="block block-image-holder image-animate-wrapper">
					<div class="block-image image-animate--hover">
						<a href="#">
							<img src="../../assets/images/prv/travel/img-wide-2.jpg">
						</a>
					</div>

					<div class="pt-4">
						<span class="heading heading-xs text-uppercase strong-300">Oct 15, 2018</span>
						<a href="#" class="heading heading-4 d-block strong-500 mt-1">Listen to the nature</a>
						<p class="mt-3">
							When we strive to become better than we are, everything around us becomes better, too.
						</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="block block-image-holder image-animate-wrapper">
					<div class="block-image image-animate--hover">
						<a href="#">
							<img src="../../assets/images/prv/travel/img-wide-3.jpg">
						</a>
					</div>

					<div class="pt-4">
						<span class="heading heading-xs text-uppercase strong-300">Oct 15, 2018</span>
						<a href="#" class="heading heading-4 d-block strong-500 mt-1">Rules not to follow</a>
						<p class="mt-3">
							When we strive to become better than we are, everything around us becomes better, too.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="cta-wrapper">
	<a href="https://goo.gl/9BbH7R" target="_blank">
		<div class="slice cta-inner bg-base-1">
			<div class="flex flex-items-xs-middle">
				<div class="flex-wrap-item">
					<div class="sct-inner ">
						<div class="container">
							<div class="text-center">
								<h1 class="heading heading-3 text-normal c-base-text-1 strong-400">
									Infinite solutions with only one template. Boomerang has it all!
								</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</a>
</section>
