<section class="swiper-js-container background-image-holder">
	<div class="swiper-container" data-swiper-autoplay="true" data-swiper-effect="fade" data-swiper-autoheight="true">
		<div class="swiper-wrapper">
			<!-- Slide -->
			<div class="swiper-slide">
				<div class="holder-item sct-color-2 slice-xl pb-0">
					<div class="container d-flex align-items-center">
						<div class="row cols-xs-space cols-sm-space cols-md-space">
							<div class="col-lg-5 text-center text-lg-left align-self-center">
								<%= image_tag "banner-coop.png", class: " banner-coop" %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="slice-lg pb-2 sct-color-1 border-top">
	<div class="container">
		<div class="row cols-xs-space cols-sm-space">
			<div class="col-lg-4">
				<div class="icon-block icon-block--style-2-v2 text-center">
					<div class="block-icon rounded">
						<i class="fas fa-store"></i>
					</div>
					<h2 class="heading heading-5 strong-600">Epicerie Coopérative</h2>
					<p class="px-2 mt-1">
						Mettre en place un mode de consommation coopératif et alternatif.
					</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="icon-block icon-block--style-2-v2 text-center">
					<div class="block-icon rounded">
						<i class="fas fa-map-marker-alt"></i>
					</div>
					<h2 class="heading heading-5 strong-600">Soutenir les agriculteurs locaux</h2>
					<p class="px-2 mt-1">
						Promouvoir l'accès à des produits de qualité, de saisons et issus de l'agriculture locale.
					</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="icon-block icon-block--style-2-v2 text-center">
					<div class="block-icon rounded">
						<i class="fas fa-handshake"></i>
					</div>
					<h2 class="heading heading-5 strong-600">Créer de l'emploi local</h2>
					<p class="px-2 mt-1">
						Et favoriser l'accès à l'emploi de personnes en réinsertion professionnelle.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="">
	<div class="container">
		<div class="delimiter--style-1">
			<div class="delimiter-title-wrapper">
				<div class="delimiter-title">
					<h3 class="heading heading-xs mb-0 text-uppercase strong-600">Qui Sommes Nous ? <h3>
					</div>
				</div>
			</div>
		</div>
	</div>


	<section class="slice-lg sct-color-1">
		<div class="container">
			<div class="row row-no-padding">
				<div class="col-lg-6">
					<div class="block block-image-holder">
						<div class="block-image has-solid-shadow-right">
							<%= image_tag "orgine.jpg", class: "img-fluid img-center" %>
						</div>
					</div>
				</div>

				<div class="col-lg-5 ml-auto align-self-lg-end">
					<div class="col-wrapper--spaced">
						<h3 class="heading heading-3 text-normal strong-600 mt-4">
							Origine du Projet
						</h3>
						<p class="mt-2">
									Inspiré par le film documentaire « FoodCoop », un groupe de citoyens du bassin Creillois issu de tous horizons a décidé de se réunir autour d'une association commune appelée « Créons la Coop », qui a ainsi vu le jour le 10 juillet 2017
									et compte parmis elle, plus de 70 adhérents à ce jour.
						</p>
					</div>
				</div>
			</div>

			<span class="space-xs-xl"></span>

			<div class="row row-no-padding">
				<div class="col-lg-6 order-lg-2 ml-lg-auto">
					<div class="block block-image-holder">
						<div class="block-image has-solid-shadow-left">
								<img src="stand.jpg" class="img-fluid img-center">
						</div>
					</div>
				</div>

				<div class="col-lg-5 order-lg-1 align-self-lg-end ">
					<div class="col-wrapper--spaced">
						<h3 class="heading heading-3 text-normal strong-600 mt-4">
							Nos Objectifs
						</h3>
						<p class="mt-2">
							<ul class="ul-objectifs">
								<li>
									Créer et faire vivre un supermarché coopératif
								</li>
								<li>
									Sensibiliser à un mode de vie raisonné, éco-responsable,
									participatif et lutter contre le gaspillage
								</li>
								<li>
									Mettre en place un mode de consommation coopératif et
									alternatif.
								</li>
								<li>
									Soutenir l’agriculture et les agriculteurs locaux
								</li>
								<li>
									Promouvoir l’accès à des produits de qualité, de saison
									issus de l’agriculture locale, biologique ou raisonnée, ainsi
									que des produits exotiques issus du commerce équitable
								</li>
								<li>
									Favoriser l’inclusion, la mixité sociale et devenir un lieu d’échange intergénérationnel et interculturel
								</li>
								<li>
									Intégrer et auto-former les adhérents de façon active à la
									gestion du supermarché coopératif
								</li>
								<li>
									Créer de l’emploi local
								</li>
							</ul>		
						</p>
					</div>
				</div>
			</div>

			<span class="space-xs-xl"></span>

			<div class="row row-no-padding">
				<div class="col-lg-6">
					<div class="block block-image-holder">
						<div class="block-image has-solid-shadow-right">
								<%= image_tag "sac-legume.jpg", class: "img-fluid img-center" %>
						</div>
					</div>
				</div>

				<div class="col-lg-5 ml-auto align-self-lg-end">
					<div class="col-wrapper--spaced">
						<h3 class="heading heading-3 text-normal strong-600 mt-4">
							Nos Ambitions
						</h3>
						<p class="mt-2">
							<ul>
								<li>
									Devenir un lieu citoyen ouvert à tous autour du « Mieux
									manger, mieux consommer »
								</li>
								<li>
									Proposer une gamme de produits de qualité, à prix accessible
									et adaptée à des besoins de consommation diversifiés
								</li>
								<li>
									S’implanter sur le territoire de Creil dans un secteur qui
									répond aux critères de mixité, diversité et dynamisme sociale
								</li>
								<li>
									Rassembler 400 membres pour la création de l’épicerie
								</li>
							</ul>		
						</p>
					</div>
				</div>
			</div>

			<span class="space-xs-xl"></span>

			<div class="row row-no-padding">
				<div class="col-lg-6 order-lg-2 ml-lg-auto">
					<div class="block block-image-holder">
						<div class="block-image has-solid-shadow-left">
							<%= image_tag "shop-coop.jpg", class: "img-fluid img-center" %>
						</div>
					</div>
				</div>

				<div class="col-lg-5 order-lg-1 align-self-lg-end">
					<div class="col-wrapper--spaced">
						<h3 class="heading heading-3 text-normal strong-600 mt-4">
							<a href="#">The nine principles of design implementation</a>
						</h3>
						<p class="mt-2">
							One morning when Gregor Samsa woke from troubled dreams he found himself transformed in his bed into a horrible vermin he lay on his armour-like back.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>



	<section class="cta-wrapper">
			<div class="slice cta-inner bg-color-vert">
				<div class="flex flex-items-xs-middle">
					<div class="flex-wrap-item">
						<div class="sct-inner ">
							<div class="container">
								<div class="text-center">
									<h1 class="heading heading-3 text-normal c-base-text-1 strong-400">

									</h1>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</a>
	</section>
