<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @member.first_name @member.last_name%></h1>
    <p>
			Votre inscription prendra fin le @member.end_souscription
    </p>
    <p>
      Si vous souhaitez continuer l'aventure parmi nous, n'oubliez pas de vous réinscrire.
    </p>
  </body>
</html>
