<br/>
<div class="card no-border">
  <table id="documents" class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col">Nom du document</th>
        <th scope="col">Télécharger</th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: "libraries/library", collection: @libraries %>
    </tbody>
  </table>
</div>
