  <tr>
    <td scope="row">
      <%= library.document.filename.to_s %>
    </td>
    <td scope="row">
      <% if library.document.previewable? %>
        <%= link_to(image_tag(library.document.preview(resize: "90x90")), rails_blob_path(library.document, disposition: "attachment")) %>
      <% end %>
    </td>
    <td scope="row">
      <%= link_to 'Supprimer', library, method: :delete, id: library.id, :class => 'btn btn-mini btn-danger', data: { confirm: 'Supprimer le document ?', remote: true } %>
    </td>
  </tr>
