<div class="form-default mt-4">
  <%= form_for @library, { url: libraries_url, method: 'POST' }  do |form|%>
  <div class="col">
    <div class="col-lg-12">

      <div class="field">
        <%= form.label :document, "Ajouter un document" %><br/>
        <%= form.file_field(:document, accept: 'application/pdf', class: "btn-base-1") %>
        <%= form.submit :libraries, value: "Ajouter", class: "btn-base-1" %>
      </div>
    </div>
  </div>
</div>
<% end %>
