<div class="form-default mt-3">
  <%= form_for @document, { remote: true, url: documents_url, method: 'POST' }  do |form|%>
  <div class="col">
    <div class="col-lg-12">

      <div class="field">
        <%= form.label :document, "Ajouter un document" %><br/>
        <%= form.file_field(:document, accept: 'application/pdf', class: "btn-base-1 m-2") %>
        <%= form.submit :documents, value: "Ajouter", class: "btn-base-1 m-2" %>
      </div>
    </div>
  </div>
</div>
<% end %>
