@import "css/font-awesome";
@import "css/bootstrap.min";
@import "css/swiper.min";
@import "hamburgers.min";
@import "animate.min";
@import "css/jquery.fancybox.min";
@import "css/boomerang.min";
@import "css/custom-style";
@import "_navbar";
@import "_footer";
@import "infos";
@import "session";
@import "static_pages";
@import "full_calendar/core/main.min";
@import "full_calendar/daygrid/main.min";
@import "full_calendar/timegrid/main.min";
@import "trix";
@import "trix-custom";
@import "leaflet";
@import "recurring_select";
@import "thredded";
@import "thredded-custom";

.btn-base-1 {
	color: white !important;
	background-color: #62c059 !important;
	border-radius: 5px !important;
	font-weight: bold !important;
	border-color: #62c059 !important;
	border-width: 2px !important;
}

.block--style-3 {
	margin-left: 30px !important;
}

