@import "full_calendar/core/main.min";
@import "full_calendar/daygrid/main.min";
@import "full_calendar/timegrid/main.min";

.fc-header-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bg-purple {
  background-color: purple !important;
}
