@import "tempusdominus-bootstrap-4";

.heading-missions {
  margin-left: 15px !important;
}

.fa-calendar-alt {
  color: white;
}

#recurrence-selector {
  display: none;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  width: initial;
  opacity: inherit;
  visibility: inherit;
}
