
#map {
height: 400px; 
width: 100%;
}

.btn-base-1 {
	color: #e2bbbc !important;
	background-color: #006030 !important;
	border-radius: 5px !important;
	font-weight: bold !important;
	border-color: #006030 !important;
	border-width: 2px !important;
}

.block--style-3 {
	margin-left: 30px !important;
		
}

