.btn-base-1 {
	color: white !important;
	background-color: #62c059 !important;
	border-radius: 5px !important;
	font-weight: bold !important;
	border-color: #62c059 !important;
	border-width: 2px !important;
}

.block--style-3 {
	margin-left: 30px !important;
		
}

