.form-card {
	border-style: solid !important;
	border-width: 1px !important;
	border-color: #006030 !important;
}

.form-header {
	background-color: #006030 !important
}

.fa-user, .fa-user-plus, .fa-user-edit {
	color: #e2bbbc !important;
}

.btn-sign-in, .btn-back, .btn-update {
	color: #e2bbbc !important;
	background-color: #006030 !important;
	border-radius: 5px !important;
	font-weight: bold !important;
	border-color: #e2bbbc !important;
	border-width: 2px !important;
}

.btn-cancel {
	color: #006030 !important;
	background-color: #e2bbbc !important;
	border-radius: 5px !important;
	font-weight: bold !important;
	border-color: #006030 !important;
	border-width: 2px !important;	
}

