.form-header {
	background-color: #006030 !important;
}

.fa-user {
	color: #deb2b3;
}

.btn-sign-in {
	color: #deb2b3 !important;
	background-color: #006030 !important;
	border-radius: 5px !important;
	font-weight: bold !important;
}

