.banner-coop {
	margin-top: -50px;
	margin-left: -100px;
	display: block;
	width: 1400px;
	height: 500px;

}

.fa-percent, .fa-map-marker-alt, .fa-store {
	color: white;
}


.block-icon, .bg-color-vert {
	background-color: #62c059  !important;
}

.bg-color-white {
  background-color:	white !important;
}

.text-vert {
	color: #62c059  !important;
}

.banner-end {
	color: white !important;
}








