.banner-coop {
	margin-top: -50px;
	margin-left: -100px;
	display: block;
	width: 1400px;
	height: 500px;

}

.fa-handshake, .fa-map-marker-alt, .fa-store {
	color: white;
}


.block-icon, .bg-color-vert {
	background-color: #006030 !important;
}

.ul-objectifs {
	list-style-type: none !important;
}


