.thredded--messageboard--delete {
  @extend .btn;
  color: white;
}

#thredded--container {
  ul.thredded--form-list {
    textarea[id*="_content"] {
      height: 0px !important;
      opacity: 0;
      position: absolute;
    }
  }
}
