<div id="enrollments">
  <%= f.fields_for :enrollments, mission.enrollments do |enrollment| %>
    <%= render cocoon_fields_name, f: enrollment %>
  <% end %>
  <div class="links">
    <%= link_to_add_association t(".enroll_another_member"),
      f,
      :enrollments,
      partial: cocoon_fields_name %>
  </div>
</div>
