<% member = enrollment.member %>
<div class="my-4 text-lg line-height-1_8 d-flex justify-content-between"
     id="member_<%= member.id %>">
  <span>
    <%= link_to "#{member.first_name} #{member.last_name}",
          member_path(member.id),
          class: (partial_enrollment_css if partial_enrollment?(enrollment)) %>
  </span>

  <span>
    <%= enrollment_duration(enrollment) if partial_enrollment?(enrollment) %>
  </span>

  <span>
    <%= translate member.cash_register_proficiency,
          scope: "activerecord.attributes.member.cash_register_proficiencies" %>
  </span>
</div>
