<% participant = participation.participant %>
<div class="my-4 text-lg line-height-1_8 d-flex justify-content-between"
     id="member_<%= participant.id %>">
  <span>
    <%= link_to "#{participant.first_name} #{participant.last_name}",
          member_path(participant.id) %>
    <div>
      <%= participant.phone_number %>
    </div>
  </span>

  <span>
    <%= translate participant.cash_register_proficiency,
          scope: "activerecord.attributes.member.cash_register_proficiencies" %>
  </span>
</div>
