<div class="card m-2 p-2 nested-fields">
  <div class="d-flex flex-wrap justify-content-around">
    <div class="field m-1">
      <%= f.label :participant_id, Participation.human_attribute_name(:member).humanize %><br />
      <%= f.select :participant_id,
        Member.all.map { |m| ["#{m.first_name} #{m.last_name}", m.id] }.sort,
        {},
                   class: "form-control" %>
      <br />
    </div>
  </div>

  <%= link_to_remove_association t(".delete_button").humanize, f,
    class: 'text-danger ml-auto' %>
</div>
