<% provide :head_tags do %>
<meta name="turbolinks-visit-control" content="reload">
<% end %>
<%= javascript_include_tag 'fullCalendar', "data-turbolinks-track" => "reload" %>

<div class="container"> 
  <div class="col-lg-12 mb-5">
    <div class="main-content">
          
      <div class="page-title">
        <div class="row align-items-center">
          <div class="col-lg-12 col-12">
            <h2 class="heading-missions heading heading heading-2 text-uppercase border-bottom border-dark strong-800 mt-5 mb-5">
                  missions</h2>
          </div>
        </div>
      </div>

      <!--Events are feed into the calendar via fullCalendar.js-->
      <div id="calendar"></div>

      <div class="card no-border">
          <%= link_to  "Créer une nouvelle mission", new_mission_path, class: "btn btn-base-1 btn-shadow btn-circle px-4 ml-2 mb-4" %>
      </div>
    </div>
  </div> 
</div>