<div class="col-lg-12 mb-5">
    <div class="main-content">
        <!-- Page title -->
        <div class="page-title">
            <div class="row align-items-center">
                <div class="col-lg-12 col-12">
                    <h2 class="heading-missions heading heading heading-2 text-uppercase border-bottom border-dark strong-800 mt-5 mb-5">missions</h2>
                </div>
            </div>
        </div>
        <!-- Order history table -->
        <div class="card no-border">
            <div>
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Ville</th>
                            <th>Date Creation</th>
                            <th>Date Limite</th>
                            <th><!-- Btn Show --></th>
                        </tr>
                    </thead>
                    <!-- Faire each pour missions -->
                    <tbody>
                        <tr>
                            <td>titre-missions</td>
                            <td>Creil</td>
                            <td>06/08/2018</td>
                            <td>
                                06/08/2028
                            </td>
                            <td>
                                <button class="btn btn-dark">Voir</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>