<% provide :head_tags do %>
  <%= stylesheet_link_tag 'missions' %>
<% end %>

<div class="container slice-xs">
  <div class="row justify-content-center">
    <main class="card form-card form-card--style-1">
      <header class="form-header text-center">
        <div class="form-header-icon">
          <i class="fas fa-calendar-alt fa-3x"></i>
        </div>
      </header>
      <div class="form-body">
        <h1 class="text-center heading heading-3 strong-400 mb-4">
          <%= translate "main_app.views.missions.new.title" %>
        </h1>

        <%= render 'form', mission: @mission %>
      </div>
    </main>
  </div>
</div>
