<p><%= t("devise.mailer.email_changed.hello", email: @email) %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t("devise.mailer.email_changed.notify", email: @resource.unconfirmed_email) %>.</p>
<% else %>
  <p><%= t("devise.mailer.email_changed.notify", email: @resource.email) %>.</p>
<% end %>
