<p><%= t("devise.mailer.unlock_instructions.hello", email: @resource.email) %>!</p>

<p><%= t("devise.mailer.unlock_instructions.explanation") %></p>

<p><%= t("devise.mailer.unlock_instructions.action") %></p>

<p><%= link_to t('devise.mailer.unlock_instructions.unlock_link'), unlock_url(@resource, unlock_token: @token) %></p>
