<% if super_admin? || admin? %>
  <div class="d-flex">
    <%= link_to  "Créer une annonce", new_info_path, class: "btn btn-base-1 btn-shadow btn-circle px-4 mb-4 mx-auto" %>
  </div>
<% end %>

<div class="card no-border">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th>Titre</th>
        <th class="d-none d-md-inline">Contenu</th>
        <th><!--btn show--></th>
      </tr>
    </thead>

    <tbody>
    <% @infos.each do |info| %>
      <tr>
        <td>
          <%= info.title %>
        </td>
        <td class="d-none d-md-inline">
          <%= sanitize info.content.truncate(80) %>
        </td>
        <td>
          <%= link_to "Voir", info_path(info.id), class: "btn btn-base-1 btn-shadow btn-circle px-4" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
