<% provide :head_tags do %>
  <%= javascript_include_tag 'infos', "data-turbolinks-track" => "reload" %>
<% end %>

<div class="container mb-4">
  <div class="main-content">

    <div class="page-title">
      <h2 class="heading-infos heading heading-2 text-uppercase border-bottom border-dark strong-800 mt-5 mb-5">
        Infos
      </h2>
    </div>

    <div class="tab-content" id="myTabContent">
      <div class="fade show active" id="annonces">
        <%= render partial: "annonces", locals: {infos: @infos} %>
      </div>
    </div>

  </div>
</div>
