<div class="container">
  <div class="col-lg-12 mb-5 main-content">
    <div class="page-title">
      <h2 class="heading-infos heading heading-2 text-uppercase border-bottom border-dark strong-800 mt-5 mb-5">
          Infos
      </h2>
    </div>

    <ul class="nav nav-tabs justify-content-center mb-5">
      <li class="nav-item">
          <a class="nav-link active" href="#">Annonces</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Documents</a>
      </li>
    </ul>

    <% if super_admin? || admin? %>
      <div class="d-flex">
        <%= link_to  "Créer une annonce", new_info_path, class: "btn btn-base-1 btn-shadow btn-circle px-4 mb-4 mx-auto" %>
      </div>
    <% end %>
        
    <div class="card no-border">
      <table class="table table-sm table-hover">
        <tbody>
          <%= render partial: "info", collection: @infos %>
        </tbody>
      </table>
    </div>

  </div>
</div>