<div class="col-lg-12 mb-5">
    <div class="main-content">
        <!-- Page title -->
        <div class="page-title">
            <div class="row align-items-center">
                <div class="col-lg-12 col-12">
                    <h2 class="heading-infos heading heading-2 text-uppercase border-bottom border-dark strong-800 mt-5 mb-5">
                        Infos
                    </h2>
                </div>
            </div>
        </div>

        <!-- Order history table -->
        <div class="card  no-border">
            <div>
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Contenu</th>
                            <th><!--btn show--></th>
                        </tr>
                    </thead>

                    <tbody>
                        <!-- Faire each pour Infos -->
                        <tr>
                            <td>
                                <a href="#">(Titre Infos)</a>
                            </td>
                            <td>
                                (Contenu Infos)
                            </td>
                            <td>
                                <button class="btn btn-dark">voir</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>