<div class="container">
  <div class="col-lg-12 mb-5">
    <div class="main-content">

      <div class="page-title">
        <div class="row align-items-center">
          <div class="col-lg-12 col-12">
            <h2 class="heading-infos heading heading-2 text-uppercase border-bottom border-dark strong-800 mt-5 mb-5">
              Infos
            </h2>
          </div>
        </div>
      </div>

      <ul class="nav nav-tabs justify-content-center mb-5">
        <li class="nav-item">
          <a class="nav-link active" href="#annonces" data-toggle="tab" role="tab">Annonces</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#documents" data-toggle="tab" role="tab">Documents</a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="annonces" role="tabpanel" aria-labelledby="annonces-tab">
          <%= render partial: "annonces", locals: {infos: @infos} %>
        </div>

        <div class="tab-pane fade" id="documents" role="tabpanel" aria-labelledby="documents-tab">
          <%= render partial: "libraries/new", locals: {library: @library} %>
          <%= render partial: "libraries/index", locals: {library: @library} %>
        </div>
      </div>
    </div>
  </div>
</div>
