<div class="col-lg-12 mb-5">
    <div class="main-content">
        <!-- Page title -->
        <div class="page-title">
            <div class="row align-items-center">
                <div class="col-lg-12 col-12">
                    <h2 class="heading-infos heading heading-2 text-uppercase border-bottom border-dark strong-800 mt-5 mb-5">
                        Infos
                    </h2>
                </div>
            </div>
        </div>

        <%= link_to  "Créer une info", new_info_path, class: "btn btn-base-1 btn-shadow btn-circle px-4 ml-2 mb-4" %>

        <!-- Order history table -->
        <div class="card  no-border">
            <div>
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Contenu</th>
                            <th><!--btn show--></th>
                        </tr>
                    </thead>

                    <tbody>
                         <% @infos.each do |info| %>
                        <tr>
                            <td>
                                <%= info.title %>
                            </td>
                            <td>
                                <%= info.content %>
                            </td>
                            <td>
                                <%= link_to "Voir", info_path(info.id), class: "btn btn-base-1 btn-shadow btn-circle px-4" %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>