<div class="container mb-4">
  <div class="main-content">

    <div class="page-title">
      <h2 class="heading-infos heading heading-2 text-uppercase border-bottom border-dark strong-800 mt-5 mb-5">
        Infos
      </h2>
    </div>

    <ul class="nav nav-tabs justify-content-center mb-5" id="myTab">
      <li class="nav-item">
        <a class="nav-link active" href="#annonces" data-toggle="tab" role="tab">Annonces</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#documents" data-toggle="tab" role="tab">
          <%= Document.model_name.plural.capitalize %>
        </a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="annonces" role="tabpanel" aria-labelledby="annonces-tab">
        <%= render partial: "annonces", locals: {infos: @infos} %>
      </div>

      <div class="tab-pane fade" id="documents" role="tabpanel" aria-labelledby="documents-tab">
        <%= render partial: "documents/new",
                   locals: {document: @document} if policy(Document).create? %>
        <%= render partial: "documents/index", locals: {documents: @documents} %>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  });

  // store the currently selected tab in the hash value
  $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
    var id = $(e.target).attr("href").substr(1);
    window.location.hash = id;
  });

  // on load of the page: switch to the currently selected tab
  var hash = window.location.hash;
  $('#myTab a[href="' + hash + '"]').tab('show');
</script>
