<section class="container body-wrap slice sct-color-2">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card form-card form-card--style-1">
        <div class="form-header text-center">
          <div class="form-header-icon">
            <i class="fas fa-info fa-3x"></i>
          </div>
        </div>

        <div class="form-body">
          <div class="text-center px-2">
            <h4 class="heading heading-3 strong-400 mb-4">Créer une annonce</h4>
          </div>

          <%= render  "form" %>
        </div>
      </div>

    </div>
  </div>
</section>