
<section class="slice sct-color-1">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<h3 class="heading heading-1 strong-800 mb-3">
					<%= @info.title %>
				</h3>
				<hr class="mt-0 mb-4">
				<p class="text-md">
          <%= @info.content %>
        </p>
			</div>
		</div>
		<%= link_to  "Éditer", edit_info_path, class:"btn btn-success" %>
	</div>
</section>
