<footer id="footer" class="footer">
  <div class="d-flex justify-content-around">
    <div class="flex-column">
      <p>Adresse du magasin</p>
      <p>Téléphone: </p>
      <p>Mail: </p>
      <div class="text-center">
        <%= link_to "", "https://fr-fr.facebook.com/Creonslacoop/", class: "fab fa-facebook-square fa-2x mx-auto" %> 
      </div>
    </div>
    <div class="flex-column">
      <p>Horaires</p>
      <p>Réunions d'information : </p>
    </div>
    <div class="flex-column text-center">
      <p>Adresse administrative : <br> 
      Centre Georges Brassens | 4 rue J.Kennedy - 60100 CREIL</p>
      <p> &copy; Creons la coop | Association à but non lucratif</p>
    </div>
  </div>
  <!--<div class="footer-top">-->
    <!--    <div class="container">-->
    <!--        <div class="col cols-xs-space cols-sm-space cols-md-space">-->
    <!--            <div class="col-lg-12">-->
    <!--                <div class="col">-->
    <!--                </div>-->
    <!--            </div>-->



    <!--            <div class="col-lg-12">-->
    <!--                <div class="col">-->
    <!--                    <div class="copyright mt-1">-->
    <!--                        <p> &copy; Creons la coop | Association à but non lucratif</p>-->
    <!--                        <p> Centre Georges Brassens | 4 rue J.Kennedy - 60100 CREIL</p>-->
    <!--                        <p>-->
    <!--                            Contact | asso.creonslacoop@gmail.com                        -->
    <!--                        </p>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
</footer>