<footer id="footer" class="footer">
  <div class="container">
    <div class="d-flex justify-content-around flex-wrap pt-4">
      <div class="flex-column p-1">
        <p>4 allée de la faïencerie, 60100 Creil<br>
        asso.creonslacoop@gmail.com</p>
        <div class="text-center">
          <%= link_to "", "https://fr-fr.facebook.com/Creonslacoop/", class: "fab fa-facebook-square fa-2x mx-auto" %> 
        </div>
      </div>
      <div class="flex-column p-1">
        <p>Lundi et jeudi : 17h-19h</p>
        <p>Mercredi et vendredi : 14h-19h</p>
        <p>Samedi : 9h-17h</p>
      </div>
    </div>
  </div>
</footer>
