<footer id="footer" class="footer">
  <div class="container">
    <div class="d-flex justify-content-around flex-wrap pt-4">
      <div class="flex-column p-1">
        <p>4 allée de la faïencerie, 60100 Creil<br>
        06 74 34 40 41<br>
        asso.creonslacoop@gmail.com</p>
        <div class="text-center">
          <%= link_to "", "https://fr-fr.facebook.com/Creonslacoop/", class: "fab fa-facebook-square fa-2x mx-auto" %> 
        </div>
      </div>
      <div class="flex-column p-1">
        <p>Mercredi, jeudi, vendredi : 14h30-19h<br>
        Samedi : 10h-18h</p>
      </div>
      <div class="flex-column text-center p-1">
        <p>Adresse administrative : <br> 
        Centre Georges Brassens | 4 rue J.Kennedy - 60100 CREIL</p>
        <p> &copy; Creons la coop | Association à but non lucratif</p>
      </div>
    </div>
  </div>
</footer>
