<footer id="footer" class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="col cols-xs-space cols-sm-space cols-md-space">
                <div class="col-lg-12">
                    <div class="col">
                         <ul class="social-media">
                            <li>
                                <%= link_to "", "https://fr-fr.facebook.com/Creonslacoop/", class: "fab fa-facebook-square fa-2x" %>
                            </li>
                        </ul>
                    </div>
                </div>



                <div class="col-lg-12">
                    <div class="col">
                        <div class="copyright mt-1">
                            <p>
                                &copy; Creons la coop | Association à but non lucratif                             
                            </p>
                            <p>
                                Centre Georges Brassens | 4 rue J.Kennedy - 60100 CREIL                             
                            </p>
                            <p>
                                Contact | asso.creonslacoop@gmail.com                        
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>