<h1>Members#edit</h1>
<div class="profile-picture profile-picture--style-2">
	<% if @member.first.avatar.attached? %>
		<%= image_tag @member.first.avatar %>
	<% else %>
		<img src="https://image.flaticon.com/icons/svg/0/93.svg" class="profil-img">
	<% end %>
</div>
