<%= image_tag current_member.avatar.service_url if current_member.avatar.attached? %>

	<h2>Modifier le profil</h2>
	<form action=/test method="POST">
	<input type="file" name="avatar" key="avatar">

	  <button type="submit" class="btn btn-primary mb-2">Modifier le profil</button>

	  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	</form>

