<div class="container">
    <div class="widget mt-4">
        <div class="row-wrapper">
            <ul class="nav nav-tabs justify-content-center mb-5">
                <li class="nav-item">
                    <a class="nav-link active" href="#all-members" data-toggle="tab" role="tab">Tous</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#study-group" data-toggle="tab" role="tab">Groupe étude</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#communication-group" data-toggle="tab" role="tab">Groupe communication</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#it-support-group" data-toggle="tab" role="tab">Groupe informatique</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="all-members" role="tabpanel" aria-labelledby="all-members-tab">
                    <div class="row cols-md-space cols-sm-space cols-xs-space">
                        <%= render partial: "members", locals: {members: @members} %>
                    </div> 
                </div>

                <div class="tab-pane fade" id="study-group" role="tabpanel" aria-labelledby="study-group-tab">
                    <div class="row cols-md-space cols-sm-space cols-xs-space">
                        <%= render partial: "members", locals: {members: @members.where(group: 'étude')} %>
                    </div>
                </div>

                <div class="tab-pane fade" id="communication-group" role="tabpanel" aria-labelledby="communication-group-tab">
                    <div class="row cols-md-space cols-sm-space cols-xs-space">
                        <%= render partial: "members", locals: {members: @members.where(group: 'communication')} %>
                    </div>

                </div>

                <div class="tab-pane fade" id="it-support-group" role="tabpanel" aria-labelledby="it-support-group-tab">
                    <div class="row cols-md-space cols-sm-space cols-xs-space">
                        <%= render partial: "members", locals: {members: @members.where(group: 'informatique')} %>
                    </div> 
                </div>
            </div>

        </div>
    </div>
</div>